.Mentor-container {
  margin-top: 1.5rem;
}

.design-line {
  margin-top: 1rem;
  width: 50vw;
  margin: 0 auto;
  opacity: 0.2;
}

.line-container {
  margin-top: 1rem;
}

.Mentor-title {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
